Django==3.1
psycopg2-binary
Pillow
djangorestframework
python-decouple
django-phonenumber-field
phonenumbers
twilio
drf-yasg
djangorestframework-simplejwt
django-ckeditor
django-filter
djoser
celery
django-celery-beat